extends layout

block content
  .container
    .col-md-12.text-center
      h1.intro Stephen's Pinterest Clone
      if !user
        a(href="/auth/twitter", class="btn btn-primary intro") Sign In
      else
        a(href="/logout", class="btn btn-primary") My Profile
        a(href="/logout", class="btn btn-primary") Add Pics
        a(href="/logout", class="btn btn-default") Logout
