doctype html
html
  head
    title Stephen's Pinterest Clone
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/form.js")
