extends layout

block content
  .container
    .col-md-12.text-center
      h1 #{user.username}'s Profile
      a(href="/", class="btn btn-primary") Back Home
      a(href="#", class="btn btn-primary", id="onclick") Add Pics
      a(href="/logout", class="btn btn-default") Logout
    #addpics
      form#pics.form(method="post", action='/pics/addpic')
        img#cancel.img(src='button_cancel.png')
        h3 Add Picture
        label
          | URL: 
          span *
        input#url(type='text', placeholder='e.g. http://freecodecamp.com/logo.png', name="url")
        label
          | Title: 
          span *
        input#title(type='text', placeholder='LOL Catz', name="title")
        input#send(name="submit", type='submit', value='Save Pic')
        input#cancel(type='button', value='Cancel')
        br
